<div class="metrics">
  <h1 class="title">Metricas</h1>
  <div>
    <h2 class="title">Categoria mais visualizada</h2>
    <p class="text">{{ TopCategory }} {{ TopViews }}</p>
  </div>

  <h2 class=" title">Top 5 filmes mais visualizados</h2>
  <div class="movie-item">
    <div class="top-movie" *ngFor="let movie of TopMovies | slice: 0:5">
      <p class="title">{{ movie.Title }}</p>
      <img class="image-item" src="{{ movie.Poster }}" alt="" />
      <p class="title">Total de Views: {{ movie.views }}</p>
    </div>
  </div>
</div>
